@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Light.ttf') format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: rgba(61, 61, 61, 1);
    background: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

/* Container
================*/
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.header--main {
    color: rgba(255, 255, 255, 1);
}

.header--main .header__wrapper::after {
    background: rgba(255, 255, 255, .3);
}

.header__wrapper {
    position: relative;
}

.header__wrapper::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 55.5%;
    left: 0;
    z-index: inherit;
    background: rgba(61, 61, 61, .1);
}

.header__top {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-left {
    display: flex;
    align-items: center;
}

.header__text {
    padding-left: 28px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    line-height: 19px;
    color: inherit;
}

.header__top-right {
    display: flex;
}

.header__bottom {
    position: relative;
}

/* Contacts
================*/

.contacts {
    display: flex;
}

.contacts__email,
.contacts__phone {
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.contacts__email:hover,
.contacts__phone:hover {
    text-decoration: underline;
}

.contacts__phone {
    padding: 0 20px 0 42px;
}

.contacts__phone svg,
.contacts__email svg {
    margin-right: 15px;
}

.contacts__phone--footer {
    padding-right: 0;
}

/* Btn
================*/

.btn {
    display: inline-block;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: background .2s linear;
}

.btn--services {
    margin-top: 60px;
}

.btn--grey {
    padding: 6px 15px 6px 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: inherit;
    background: rgba(255, 255, 255, 0.3);
}

.btn--grey:hover {
    background: rgba(255, 255, 255, 0.123)
}

.btn--red {
    padding: 15px 39px;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(255, 0, 0, 1);
}

.btn--red:hover {
    background: rgb(211, 12, 12);
}

.btn--sm {
    padding: 5px 30px;
    font-size: 16px;
}

.btn--transparent {
    padding: 6px 8px;
    background: transparent;
    border: 1px solid red;
    border-radius: 4px;
    font-size: 13px;
    transition: all .2s linear;
}

.btn--transparent:hover {
    background: red;
    color: #fff;
}

/* Menu / Submenu
================*/

.menu {
    display: flex;
}

.menu-item {
    margin-right: 50px;
    margin-top: 25px;
    padding-bottom: 25px;
    position: relative;
    transition: color .2s linear;
}

.menu-item.active {
    color: rgba(255, 0, 0, 1);
    border-bottom: 4px solid rgba(255, 0, 0, 1);
}

.menu-item:hover .sub-menu {
    display: block;
    background: #fff;
    color: rgba(61, 61, 61, 1);
}

.menu-link {
    position: relative;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
}

.menu-item:hover {
    color: rgba(255, 0, 0, 1);
}

.menu-link.has-submenu {
    padding-right: 30px;
}

.menu-link.has-submenu::after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    width: 9px;
    height: 9px;
    cursor: pointer;
    transform: rotate(225deg);
    border-top: 2px solid rgba(255, 0, 0, 1);
    border-left: 2px solid rgba(255, 0, 0, 1);
}

.sub-menu {
    padding: 15px 35px 0 35px;
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 100%;
    left: 0;
    z-index: 1;
    border-top: 4px solid rgba(255, 0, 0, 1);
}

.sub-menu .menu-item {
    position: static;
    margin-top: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-bottom: 15px;
}

/* Red text
================*/

.red-text {
    color: red;
}

/* Intro
================*/

.intro {
    position: relative;
}

.intro--services {
    margin-top: 145px;
}

.intro::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(35, 35, 35, 0.65);
}

.intro {
    width: 100%;
    /* background: url('../images/intro/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}

.intro img {
    object-fit: cover;
    height: 760px;
}

.intro--services img {
    height: 600px;
}

.intro__inner {
    /* padding-top: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 56%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.intro__inner--services {
    top: 50%;
    left: 70%;
    align-items: start;
}

.intro__title {
    font-family: 'Oswald';
    font-size: 50px;
    font-weight: 400;
    color: inherit;
    line-height: 74px;
    text-align: center;
}

.intro__benefits {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.intro__benefits-item {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    color: inherit;
}

.intro__benefits-item svg {
    margin-right: 10px;
}

.intro__benefits-item+.intro__benefits-item {
    margin-left: 50px;
}

.intro__test {
    padding: 50px 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.intro__text {
    margin-right: 90px;
    font-family: 'Oswald';
    font-size: 25px;
    font-weight: 400;
    color: inherit;
    line-height: 37px;
}

.intro__text--services {
    margin: 30px 0 75px;
    padding: 22px 33px;
    font-size: 24px;
    line-height: 35px;
    border: 1px solid #fff;
}

.intro__info {
    margin-top: 52px;
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    color: inherit;
}

/* Section
================*/

.section {
    padding: 100px 0;
}

.section--first {
    margin-top: 80px;
}

.consultation,
.materials,
.consultation,
.case,
.about,
.partners--cases {
    padding-top: 0;
}

.section__title {
    font-family: 'Oswald';
    font-size: 40px;
    font-weight: 400;
    color: inherit;
}

.section__title--services {
    line-height: 55px;
}

.section__title--hasline {
    position: relative;
}

.section__title--hasline::after {
    content: '';
    display: block;
    position: absolute;
    top: 140%;
    left: 0;
    z-index: inherit;
    width: 100px;
    height: 5px;
    background: red;
}

.section__title--sm {
    font-size: 30px;
}

.section__title--benefits {
    margin-bottom: 60px;
}

.section__title--center {
    text-align: center;
}

.section__title--case {
    line-height: 59px;
    margin-top: -12px;
}

.section__subtitle {
    padding-top: 20px;
    font-family: 'Open sans';
    font-size: 24px;
    font-weight: 400;
    color: inherit;
    text-align: center;
}

.section__subtitle--services {
    font-family: 'Oswald';
    text-align: left;
}

.section__subtitle--vacancies {
    padding-top: 0;
}

.section__inner--benefits {
    padding-top: 50px;
}

.section__text p {
    padding-top: 20px;
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    line-height: 24px;
}

.section__list {
    margin-top: 20px;
    list-style: upper-latin;
    padding-left: 40px;
}

.section__list li {
    line-height: 1.8;
}

/* Benefits
================*/

.benefits {
    background: #fff;
}

.benefits__inner {
    display: flex;
    align-items: center;
}

.benefits__text {
    display: flex;
    align-items: center;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 400;
    color: inherit;
}

.benefits__text--services:first-of-type {
    margin-top: 44px;
}

.benefits__text--services+.benefits__text--services {
    margin-top: 28px !important;
}

.benefits__text svg {
    margin-right: 10px;
}

.benefits__text+.benefits__text {
    margin-top: 16px;
}

.benefits__img_mobile {
    display: none;
}

/* Solution
================*/

.solution {
    background: rgba(244, 244, 244, 1);
}

.solution__nav {
    padding: 45px 0 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.solution__nav-link {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: color .2s linear;
}

.solution__nav-link.is-active {
    color: rgba(255, 0, 0, 1);
}

.solution__nav-link.is-active::after {
    width: 100%;
}

.solution__nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: rgba(255, 0, 0, 1);
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1;
    transition: width .2s linear;
}

.solution__nav-link:nth-child(1):after {
    top: 53px;
}

.solution__nav-link:nth-child(2):after {
    top: 57px;
}

.solution__nav-link:hover::after {
    width: 100%;
}

.solution__nav-link+.solution__nav-link {
    margin-left: 20px;
}

.solution__nav-link:hover {
    color: rgba(255, 0, 0, 1);
}

.solution__nav-link svg {
    margin-right: 15px;
}

.solution__inner {
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
}

.solution__inner.tab.is-active {
    display: flex;
}

.solution__item {
    width: 45%;
    position: relative;
}

.solution__item:first-child {
    margin-top: 45px;
}

.solution__item:last-child {
    width: 40%;
    margin-top: 20px;
}

.solution__stats {
    display: flex;
    position: absolute;
    top: -15px;
    left: 0;
    z-index: 2;
}

.solution__stats--tab-3 {
    top: -50px;
    left: -20px;
}

.solution__img {
    margin-left: 18px;
}

.solution__img--tab-3 {
    z-index: 3;
    position: relative;
}

.solution__stats-item {
    padding: 15px;
    background: #fff;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.solution__stats-item+.solution__stats-item {
    margin-left: 30px;
}

.solution__stats-icon {
    padding: 8px;
    position: absolute;
    top: -16px;
    left: -14px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.solution__stats-title {
    margin-bottom: 13px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    color: rgba(164, 177, 184, 1);
}

.solution__stats-count {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}

.solution__stats-text {
    font-size: 14px;
    color: rgba(84, 99, 106, 1);
    white-space: nowrap;
}

.solution__stats-text.solution__stats-text--tab-4 {
    padding-left: 20px;
    white-space: initial;
    line-height: 32px;
}

.solution__stats-count--blue {
    color: rgba(92, 155, 209, 1);
}

.solution__stats-count--red {
    color: rgba(239, 72, 85, 1);
}

.solution__stats-count--green {
    color: rgba(68, 182, 174, 1);
}

.solution__stats-count--purple {
    color: rgba(142, 95, 162, 1)
}

.solution__stats-count span {
    font-size: 12px;
    color: rgba(164, 177, 184, 1);
}

.solution__arrow {
    position: absolute;
    top: -33px;
    right: -19%;
    z-index: 1;
}

.solution__text {
    margin-bottom: 100px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

/* Partners
================*/

.partners {
    background: #fff;
}

.partners--grey {
    background: rgba(244, 244, 244, 1);
}

.partners__inner {
    padding-top: 50px;
}

/* Consultation
================*/

.consultation {
    background: #fff;
}

.consultation--about {
    margin-bottom: 210px;
}

.consultation__inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.consultation__item {
    width: 50%;
}

.consultation__content {
    padding: 45px 30px 45px 60px;
    height: 100%;
    background: rgba(244, 244, 244, 1);
}

.consultation__content.consultation__content--about {
    padding: 45px 30px 150px 60px;
}

.consultation__text {
    padding: 24px 0 60px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

/* Materials
================*/

.materials {
    background: #fff;
}

.materials__title {
    display: flex;
    align-items: center;
}

.materials__link {
    padding: 15px 0 0 30px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgba(255, 0, 0, 1);
    text-decoration: none;
}

.materials__link--inside {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.materials__link:hover {
    text-decoration: underline;
}

.materials__inner {
    margin-top: 44px;
    display: flex;
}

.materials__item {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.materials__content {
    padding: 12px 40px 86px 30px;
    position: relative;
    background: rgba(244, 244, 244, 1);
}

.materials__text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    color: inherit;
}

/* Footer
================*/

.footer {
    padding: 50px 0 30px;
    background: #fff;
    border-top: 1px solid rgba(196, 196, 196, .8);
}

.footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__inner {
    margin-top: 42px;
    display: flex;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__item+.footer__item {
    margin-left: 15px;
}

.footer__item:nth-child(1) {
    align-self: end;
    width: 36%;
}

.footer__item:nth-child(2),
.footer__item:nth-child(3),
.footer__item:nth-child(4) {
    width: 23%;
}

.footer__title {
    margin-bottom: 16px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
}

.footer__link {
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
    transition: color .2s linear;
}

.footer__link:hover {
    color: red;
}

/* Socials
================*/

.socials {
    display: flex;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: rgba(244, 244, 244, 1);
    border-radius: 3px;
}

.social__link+.social__link {
    margin-left: 20px;
}

/* Copyright
================*/

.copyright {
    margin-top: 50px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}


/* Case
================*/

.case:first-child {
    padding-top: 195px;
}

.case__inner {
    display: flex;
}

.case__item {
    display: flex;
    flex-direction: column;
}

.case__item+.case__item {
    margin-left: 30px;
}

.case__text {
    padding-top: 15px;
}

.case__author {
    padding: 60px 0 60px 70px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
}

.case__author-avatar {
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.case__author-name {
    margin-bottom: 15px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
}

.case__author-position {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
}

.case__video {
    position: relative;
}

.case__video-wrapper {
    position: absolute;
    top: 110%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.case__img {
    max-height: 350px;
    min-width: 570px;
}

.cases__link {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.case__hint {
    position: absolute;
    top: 48%;
    left: 115%;

    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    color: #000;
    text-align: center;
    transform: rotate(20deg);
}

.case__arrow {
    position: absolute;
    top: 70%;
    left: 103%;
}

/* About
================*/

.about {
    padding-top: 180px;
}

.about__inner {
    padding-right: 500px;
    position: relative;
}

.about__item+.about__item {
    margin-top: 60px;
}

.about__text p {
    margin-top: 20px;
}

.about__paragraph {
    display: flex;
    align-items: center;
}

.about__paragraph span {
    margin-right: 20px;
    display: block;
    padding: 13px 18px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    border-radius: 50%;
    color: rgba(61, 61, 61, 1);
    background: rgba(244, 244, 244, 1);
}

/* Founders
================*/

.founders {
    position: absolute;
    top: 0;
    right: 0;
}

.founders__item {
    padding: 40px;
    background: rgba(244, 244, 244, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.founders__item:first-of-type {
    margin-top: 26px;
}

.founders__item+.founders__item {
    margin-top: 40px;
}

.founders__icon img {
    border-radius: 50%;
}

.founders__name {
    padding: 32px 0 15px;
    font-family: 'Oswald';
    font-size: 24px;
    font-weight: 400;
}

.founders__position {
    font-family: 'Oswald';
    font-size: 18px;
    font-weight: 300;
}

/* Solutions
================*/

.solutions--grey {
    background: rgba(244, 244, 244, 1);
}

.solutions__inner {
    display: flex;
}

.solutions__item {
    padding: 30px;
    background: #F4F4F4;
    width: 25%;
}

.solutions__item--employees:first-child {
    background: rgba(244, 244, 244, 1) !important;
}

.solutions__item:first-child {
    padding: 0;
    background: #fff;
}

.solutions__item+.solutions__item {
    margin-left: 25px;
}

.solutions__item--employees {
    padding: 0;
}

.solutions__text {
    margin-top: 75px;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    color: rgba(61, 61, 61, 1);
}

/* Service
================*/

.service {
    background: rgba(244, 244, 244, 1);
}

.service__inner {
    display: flex;
}

.service__inner--sb {
    justify-content: space-between;
}

.service__item+.service__item {
    margin-left: 60px;
}

.service--white {
    background: #fff;
}

/* Burger
================*/
.burger {
    padding: 15px 0;
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
}

.burger:focus {
    outline: none;
}

.burger.burger-main .burger__item {
    background-color: #fff;
}

.burger__item {
    display: block;
    width: 30px;
    height: 1px;

    background-color: rgba(61, 61, 61, 1);

    font-size: 0;
    color: transparent;
}

.burger.clicked span {
    opacity: 0;
}

.burger.clicked::before {
    transform: rotate(-45deg);
}

.burger.clicked::after {
    transform: rotate(45deg);
}

.burger.clicked::before,
.burger.clicked::after {
    top: 50%;
    background-color: rgba(61, 61, 61, 1);
}

.burger.burger-main::before,
.burger.burger-main::after {
    background-color: #fff;
}

.burger.burger-main.clicked::before,
.burger.burger-main.clicked::after {
    background-color: rgba(61, 61, 61, 1);
}

.burger::before,
.burger::after {
    content: "";
    width: 100%;
    height: 1px;

    background-color: rgba(61, 61, 61, 1);

    position: absolute;
    left: 0;
    z-index: 1;
    transition: all .2s ease;
}

.burger::before {
    top: 8px;
}

.burger::after {
    bottom: 8px;
}

.header__inner-mobile {
    padding-top: 15px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

/* Slayden
================*/
.slayden-savnena {
    height: 424px;
    margin: 0 20px;
    max-height: 748px;
    max-width: 100%;
    overflow: hidden;
    width: 456px;
}

.slayden-savnena figure {
    background-image: url('../images/benefits/macboook.png');
    background-size: cover;
    background-position: center center;
    font-size: 0;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

#kobavenusab {
    background-image: url('../images/benefits/chut.jpg');
    background-size: cover;
    bottom: 0;
    border-right: 5px solid rgba(243, 240, 240, 0.7);
    box-shadow: 10px 0 15px -13px #171717;
    height: 100%;
    max-width: 98.6%;
    min-width: 0.6%;
    overflow: visible;
    position: absolute;
    width: 50%;
    animation: first 2s 1 normal ease-in-out 0.1s;
    -webkit-animation: first 2s 1 normal ease-in-out 0.1s;
}

input#pedsumid {
    border: none;
    background: transparent;
    cursor: col-resize;
    height: 100vw;
    left: 0;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    top: -100vw;
    width: 100%;
}

input#pedsumid::-moz-range-track {
    background: transparent;
}

input#pedsumid::-ms-track {
    border: none;
    background-color: transparent;
    height: 100vw;
    left: 0;
    outline: none;
    position: relative;
    top: -100vw;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: col-resize;
    color: transparent;
}

input#pedsumid::-ms-fill-lower {
    background-color: transparent;
}

input#pedsumid::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
}

input#pedsumid::-moz-range-thumb {
    -moz-appearance: none;
    height: 100vw;
    width: 0.5%;
    opacity: 0;
}

input#pedsumid::-ms-thumb {
    height: 100vw;
    width: 0.5%;
    opacity: 0;
}

input#pedsumid::-ms-tooltip {
    display: none;
}

#kobavenusab::before {
    background: url(http://zornet.ru/ABVUN/Aba/detunis/comparision.png) no-repeat scroll 0 center transparent;
    background-size: contain;
    content: " ";
    float: right;
    height: 100%;
    margin-right: -34px;
    position: relative;
    top: 0;
    width: 64px;
}

@keyframes first {
    0% {
        width: 0%;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 50%;
    }
}

@-webkit-keyframes first {
    0% {
        width: 0%;
    }

    50% {
        width: 80%;
    }

    100% {
        width: 50%;
    }
}

/* Tabs
=============== */
.tabs-nav.tabs__nav--benefits {
    display: none;
}

.tabs-nav {
    display: flex;
    justify-content: space-between;
}

.tabs-nav__item {
    cursor: pointer;
}

.tabs-nav__item--benefits {
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    cursor: pointer;
    flex: 1;
    font-family: 'Oswald';
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    padding: 10px 20px;
}

.tabs-nav__item--benefits.is-active {
    border-color: rgba(255, 0, 0, 1);
    border-width: 3px;
    color: rgba(255, 0, 0, 1);
}

.tab:not(.benefits__item) {
    display: none;
}

.tab.is-active {
    display: block;
}

/* Contact
=============== */

.contact__inner {
    margin-top: 20px;
}

.contact__link {
    font-size: 18px;
    font-weight: 600;
}

.contact__link a {
    color: inherit;
    text-decoration: none;
}

.contact__link a:hover {
    text-decoration: underline;
}

.contact__link+.contact__link {
    margin-top: 15px;
}

/* Form
=============== */

.form__inner {
    padding: 20px 0;
}

.form__control+.form__control {
    margin-top: 10px;
}

.form__control input,
.form__control textarea {
    padding: 10px;
    max-width: 600px;
    width: 100%;
}

/* Accordion
=============== */

.accordion {
    margin: 20px 0;
}

.accordion__item {
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 15%);
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #fff;
    font-weight: 500;
    background-color: rgba(240, 9, 9, 0.733);
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.accordion__header::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    content: "";
    transition: transform 0.2s ease-out;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
    transform: rotate(-180deg);
}

.accordion__header:hover {
    background-color: rgb(211, 12, 12);
}

.accordion__item:not(.accordion__item_show) .accordion__header {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__content {
    padding: 0.75rem 1rem;
    background: #fff;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.accordion__body p {
    padding: 10px 10px 10px 35px;
    line-height: 1.2;
}

/* Vacancies
=============== */

.vacancies__item {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid rgba(61, 61, 61, .1);
    border-radius: 4px;
}

.vacancies__item p {
    margin-bottom: 20px;
}

.vacancies__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Blog
=============== */

.blog__inner {
    margin-top: 20px;
}

.blog__item {
    padding-top: 20px;
    display: flex;
}

.blog__img {
    width: 30%;
    height: 250px;
}

.blog__img img {
    height: 100%;
    object-fit: cover;
}

.blog__content {
    padding-left: 40px;
    width: 70%;
}

.blog__content h3 {
    padding-top: 0;
}

.blog__text {
    padding-top: 20px;
    position: relative;
    font-size: 16px;
    line-height: 1.3;
}

.blog__text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(to top,#FFF 0,rgba(255,255,255,0) 100%);
    z-index: 2;
}

.blog__text--page::after {
    display: none;
}

.blog__link {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color: inherit;
}

.blog__link:focus {
    outline: none;
}

.blog__link:hover {
    color: red;
    text-decoration: underline;
}

.blog__link::before {
    display: block;
    width: 30px;
    background: red;
    height: 2px;
    content: "";
    margin: 0 0 10px;
}

/* Tariff
=============== */

.tariff__inner {
    margin-top: 35px;
}

.tariff__item {
    display: flex;
    align-items: center;

    border: 5px solid #f5f5f5;
    border-radius: 10px;
    padding: 30px 35px;
}

.tariff__item+.tariff__item {
    margin-top: 20px;
}

.tariff__text {
    font-size: 16px;
    line-height: 1.3;
    padding-left: 30px;
}

/* Delivery
=============== */

.delivery__inner {
    margin-top: 30px;
    padding: 0 20px 20px;
    border: 4px solid rgba(61, 61, 61, .1);
    border-radius: 10px;
}

/* Media
=============== */

@media (min-width: 1500px) {
    .intro__inner--services {
        left: 55%;
    }
}

@media (max-width: 991px) {

    /* Tabs */
    .tab.is-active.benefits__item {
        display: flex;
    }

    .tabs-nav.tabs__nav--benefits {
        display: flex;
        margin-bottom: 25px;
    }

    /* Slayden */
    .slayden-savnena {
        display: none;
    }

    /* Burger */
    .burger {
        display: block;
    }

    /* Header */
    .header {
        color: rgba(61, 61, 61, 1);
    }

    .header__wrapper.show {
        background: #fff;
    }

    .header__wrapper {
        position: relative;
        transition: all .5s linear;
    }

    .header__wrapper.show .header__inner {
        display: flex;
        transform: translateY(0);
        opacity: 1;
    }

    .header__wrapper::before {
        display: none;
    }

    .header__inner {
        padding-left: 15px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        transform: translateX(-100%);
        flex-direction: column;
        background: #fff;
        transition: all .3s linear;
        opacity: 0;
    }

    .header__inner-mobile {
        display: flex;
    }

    .header__top {
        padding-top: 0;
        margin-top: 18px;
        order: 2;
        flex-direction: column;
        align-items: start;
        border-top: 1px solid rgba(61, 61, 61, .2);
    }

    .header__top-right {
        padding-top: 18px;
        flex-direction: column;
    }

    .header__top-left {
        display: none;
    }

    .header__bottom {
        order: 1;
    }

    /* Contacts */
    .contacts__phone--header {
        padding: 20px 0;
    }

    /* btn */
    .btn--grey {
        background: rgba(255, 0, 0, 1);
        color: #fff;
    }

    .btn--red {
        padding: 10px 30px;
        font-size: 18px;
    }

    /* Menu */

    .menu {
        flex-direction: column;
    }

    .menu-item {
        margin-right: 0;
        margin-top: 25px;
        padding-bottom: 0;
    }

    /* Intro */
    .intro--services {
        margin-top: 85px;
    }

    .intro__title {
        font-size: 40px;
        line-height: 55px;
    }

    .intro__benefits {
        padding: 40px 0;
    }

    .intro__benefits-item {
        padding-top: 10px;
    }

    .intro__benefits-item+.intro__benefits-item {
        margin-left: 30px;
    }

    .intro__test {
        padding: 30px;
    }

    .intro__text {
        font-size: 20px;
        line-height: 28px;
    }

    .intro__info {
        font-size: 18px;
    }

    .intro img {
        height: 660px;
    }

    /* Section */
    .section {
        padding: 80px 0;
    }

    .section__title {
        font-size: 30px;
    }

    .section__subtitle {
        padding-top: 15px;
        font-size: 20px;
    }

    .section__title--benefits {
        display: none;
    }

    .section__title--services {
        line-height: 35px;
    }

    .section__title--hasline {
        align-self: start;
        text-align: left;
    }

    /* Benefits */
    .benefits__inner {
        flex-direction: column;
        justify-content: center;
    }

    .benefits__item {
        display: none;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .benefits__text {
        align-self: start;
    }

    .benefits__img_mobile {
        display: block;
        max-width: 400px;
        width: 50%;
        margin-bottom: 20px;
    }

    /* Solution */
    .solution__inner {
        flex-direction: column;
    }

    .solution__nav {
        border: none;
    }

    .solution__item {
        width: 100%;
    }

    .solution__item:last-child {
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .solution__arrow {
        display: none;
    }

    .solution__img {
        margin-left: 5px;
    }

    /* Itc-slider */
    .itc-slider-1 .itc-slider__item {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    /* About */
    .about__inner {
        padding-right: 400px;
    }

    /* Case */

    .case:first-child {
        padding-top: 120px;
        padding-bottom: 0;
    }

    .case__inner {
        flex-direction: column;
    }

    .case__item+.case__item {
        margin-left: 0;
        margin-top: 20px;
    }

    .case__poster {
        display: block;
        width: 100%;
        height: auto;
    }

    .case__item--video {
        order: 2;
        margin-top: 20px;
    }

    .case__item--content {
        order: 1;
    }

    /* Service */

    .service__item+.service__item {
        margin-left: 20px;
    }

    .service__item {
        width: 50%;
        overflow: hidden;
    }

}

@media (max-width: 767px) {

    /* Intro */
    .intro__inner--services {
        left: 50%;
    }

    /* Service */
    .service__inner {
        flex-direction: column;
    }

    .service__item+.service__item {
        margin-left: 0;
        margin: 40px 0;
    }

    .service__item {
        width: 100%;
    }

    .service__item--video {
        order: 2;
        text-align: center;
    }

    .service__item--content {
        order: 1;
        display: flex;
        flex-direction: column;
    }

    /* Btn */
    .btn--services {
        margin-top: 30px;
    }

    /* Founders */
    .founders {
        position: static;
        margin-top: 40px;
    }

    .founders__item+.founders__item {
        margin-top: 20px;
    }

    /* About */
    .section.about {
        padding-top: 100px;
    }

    .about__inner {
        padding-right: 0;
    }

    .about__item+.about__item {
        margin-top: 30px;
    }

    /* Consultation */
    .consultation--about {
        margin-bottom: 0;
    }

    .consultation__content {
        padding: 40px 20px;
    }

    /* Yt icon */
    .yt__icon {
        width: 60px;
        height: auto;
    }

    /* Case */

    .case__video {
        display: flex;
        justify-content: center;
    }

    .case__video-wrapper {
        margin-top: 20px;
        position: static;
        margin-right: 0;
        transform: none;
    }

    .case__img {
        max-height: unset;
        min-width: unset;
        max-width: 100%;
    }

    .case__hint {
        display: none;
    }

    .case__arrow {
        display: none;
    }

    /* Solution */
    .solution__nav {
        display: none;
    }

    .solution__inner.tab {
        display: flex;
    }

    .solution__text {
        margin-bottom: 35px;
    }

    .solution__stats {
        left: 13px;
    }

    .solution__stats-item.solution__stats-item--tab-4 {
        width: auto;
    }

    .solution__stats-text.solution__stats-text--tab-4 {
        line-height: 20px;
    }

    .solution__img {
        margin-left: 0;
    }

    .solution__item:last-child {
        margin-bottom: 40px;
    }

    /* Solutions */
    .solutions__item+.solutions__item {
        margin-left: 15px;
        padding: 20px;
    }

    .solutions__item--employees {
        padding: 0 !important;
    }

    .solutions__text {
        font-size: 16px;
        line-height: 22px;
    }

    /* Itc-slider */
    .itc-slider-1 .itc-slider__item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .itc-slider-2 .itc-slider__wrapper {
        overflow: hidden;
    }

    .itc-slider__indicators {
        display: flex;
    }

    .itc-slider__indicators--materials {
        bottom: -30px;
    }

    /* Consultation */
    .consultation__inner {
        flex-direction: column;
    }

    .consultation__item {
        width: 100%;
    }

    .consultation__item:nth-child(1) {
        order: 2;
    }

    .consultation__item:nth-child(2) {
        order: 1;
    }

    /* Materials */

    .materials__inner {
        margin-top: 35px;
    }

    .materials__item {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .materials__item+.materials__item {
        margin-top: 30px;
    }

    .materials__img {
        order: 1;
    }

    .materials__content {
        order: 2;
        padding-bottom: 45px;
    }

    .materials__link--title {
        display: none;
    }

    /* Section */
    .section {
        padding: 60px 0;
    }

    .section__title {
        line-height: 32px;
    }

    .section__title--services {
        align-self: center;
        text-align: center;
    }

    .section__title--hasline {
        align-self: start;
        text-align: left;
    }
}

@media (max-width: 572px) {

    /* Section */
    .section {
        padding: 30px 0;
    }

    .section__title--hasline::after {
        top: 110%;
    }

    /* Case */
    .case__author {
        padding: 20px;
    }

    .case__author-name {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .case__author-position {
        font-size: 14px;
    }

    .case__author-avatar {
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }

    /* Itc-slider */
    .itc-slider-1 .itc-slider__item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .itc-slider__btn_group {
        top: -160px;
    }

    /* Intro */

    .intro--services {
        margin-top: 70px;
    }

    .intro.intro--services img {
        height: 590px;
    }

    .intro__inner--services {
        align-items: center;
    }

    .intro__title {
        font-size: 26px;
        line-height: 35px;
    }

    .intro__benefits {
        flex-direction: column;
        align-items: start;
    }

    .intro__benefits-item+.intro__benefits-item {
        margin-left: 0;
    }

    .intro__test {
        flex-direction: column;
        background: rgba(244, 244, 244, 1);
    }

    .intro__text {
        margin-right: 0;
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: rgba(61, 61, 61, 1);
    }

    .intro__text--services {
        color: #fff;
    }

    .intro img {
        height: 760px;
    }

    .intro__info {
        font-size: 16px;
    }

    /* Section */
    .section__title {
        font-size: 24px;
    }

    /* Benefits */
    .benefits__inner {
        flex-direction: column;
    }

    .benefits__item+.benefits__item {
        margin-top: 20px;
    }

    .benefits__item {
        flex-direction: column;
    }

    .benefits__text {
        margin-bottom: 20px;
        width: 100%;
    }

    .benefits__img_mobile {
        width: 100%;
    }

    /* Consultation */

    .consultation__content {
        padding: 25px 15px;
    }

    .consultation__text {
        line-height: 24px;
    }

    /* Btn */
    .btn--red {
        padding: 10px;
    }

    /* Contacts */
    .contacts--footer {
        margin-top: 20px;
        flex-direction: column;
    }

    .contacts__phone--footer {
        padding-left: 0;
        margin-top: 10px;
    }

    /* Footer */
    .footer__top {
        flex-direction: column;
        align-items: start;
    }

    .footer__inner {
        margin-top: 38px;
        flex-wrap: wrap;
    }

    .footer__item {
        width: 46% !important;
    }

    .footer__item+.footer__item {
        margin-left: 10px;
    }

    .footer__item:nth-child(1) {
        order: 4;
        margin-left: 10px;
    }

    .footer__item:nth-child(3) {
        margin-left: 0;
        order: 3;
    }

    .footer__item:nth-child(4) {
        order: 1;
        margin-left: 0;
    }

    .footer__item:nth-child(2) {
        order: 2;
    }

    .footer__item:nth-child(3),
    .footer__item:nth-child(1) {
        margin-top: 15px;
    }

    /* Solutions */
    .solutions__inner {
        flex-wrap: wrap;
    }

    .solutions__item {
        width: 48%;
    }

    .solutions__item:nth-child(3) {
        margin-left: 0;
    }

    .solutions__item:nth-child(3),
    .solutions__item:nth-child(4) {
        margin-top: 15px;
    }

    /* Founders */
    .founders__name {
        padding: 20px 0 8px;
        font-size: 20px;
    }

    .founders__position {
        font-size: 16px;
    }

    /* Solution */
    .solution__stats {
        width: 100%;
        top: -58px;
        flex-wrap: wrap;
    }

    .solution__stats-item {
        width: 45%;
        padding: 10px;
    }

    .solution__stats-item+.solution__stats-item {
        margin-left: 20px;
    }

    .solution__stats-item:nth-child(3) {
        margin-left: 0;
    }

    .solution__stats-item:nth-child(3),
    .solution__stats-item:nth-child(4) {
        margin-top: 15px;
    }

    .solution__stats-icon {
        top: -22px;
        padding: 7px;
    }

    .solution__stats-title {
        margin-bottom: 8px;
        font-size: 11px;
    }

    .solution__stats-count {
        font-size: 12px;
    }

    .solution__text {
        line-height: 24px;
    }

    /* Materials */
    .materials__item+.materials__item {
        margin-top: 15px;
    }

    .materials__text {
        font-size: 18px;
        line-height: 25px;
    }

    .materials__link {
        font-size: 14px;
    }

    .materials__content {
        padding-left: 15px;
    }

    /* Blog */
    .blog__item {
        padding-bottom: 20px;
        flex-direction: column;
    }

    .blog__item+.blog__item {
        border-top: 1px solid rgba(61, 61, 61, .1);
    }

    .blog__img,
    .blog__content {
        width: 100%;
    }

    .blog__content {
        padding-left: 0;
        padding-top: 20px;
    }

    .blog__link {
        margin-top: 20px;
    }

    /* Tariff */
    .tariff__item {
        flex-direction: column;
        padding: 20px;
    }

    .tariff__text {
        padding-left: 0;
        padding-top: 20px;
    }
}

@media (max-width: 415px) {

    /* Solutions */
    .solutions__item {
        width: 100%;
    }

    .solutions__item+.solutions__item {
        margin-left: 0;
    }

    .solutions__item:nth-child(2) {
        margin-top: 35px;
    }

    .solutions__text {
        margin-top: 20px;
    }

    /* Section */
    .section__title {
        line-height: 24px;
    }

    /* Social */
    .social__link+.social__link {
        margin-left: 5px;
    }

    .vacancies__item {
        padding: 0;
        border: 0;
    }

    .vacancies__item+.vacancies__item {
        border-top: 1px solid rgba(61, 61, 61, .1);
    }

    .vacancies__item-salary {
        padding-left: 5px;
        font-size: 13px;
    }
}